.home {
  width: 80%;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: center;
}

.top {
  border-top: 5px solid black;
}
.topRow {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
.topbottom {
  width: 80%;
  margin: 3% auto;
  padding: 3%;
  font-size: 20px;
  line-height: 1.5;
}
.topbottom p {
  color: #495057;
}
.topbottom ul {
  padding: 2% 16% 0 16%;
  font-size: 24px;
  color: #495057;
}
.topbottom ul strong {
  font-size: 36px;
}

.middle {
  display: flex;
  padding: 2% 7%;
  border-top: 5px solid black;
}

.midleft {
  width: 50%;
  padding: 2%;
}
.midright {
  text-align: center;
  margin: 3%;
  padding: 12% 5%;
  font-family: "PT Sans", sans-serif;
}

.toys {
  margin: 2% 16%;
  border: 1px solid black;
}

.bottom {
  display: flex;
}
.botleft {
  width: 50%;
  background-color: #ed6258;
  border-radius: 20px;
  margin: 1%;
  padding: 4%;
}
.botright {
  width: 50%;
  margin: 1%;
  padding: 3%;
}
.circle {
  height: 10rem;
  width: 20rem;
  margin: 0 15%;
  padding: 4%;
}
