.home {
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
}

header {
  padding-top: 7%;
  display: flex;
  justify-content: center;
}
.top {
  border-top: 5px solid black;
  padding-bottom: 3%;
}
.topRow {
  display: flex;
  justify-content: center;
  margin-top: 7%;
}
.topbottom {
  width: 80%;
  margin: 0 auto;
  padding: 3%;
  font-size: 20px;
  line-height: 1.5;
}
.topbottom p {
  color: #495057;
}
.topbottom ul {
  padding: 2% 16% 0 16%;
  font-size: 24px;
  color: #495057;
}
.topbottom ul strong {
  font-size: 36px;
}

.middle {
  display: flex;
  padding: 2% 7%;
  border-top: 5px solid black;
  padding-top: 7%;
}
.midright {
  padding: 5%;
  background-color: red;
  border-radius: 9px;
  color: #fff;
}
.midright h3 {
  font-size: 40px;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 3%;
}
.midright p {
  line-height: 1.5;
  font-size: 20px;
}
.toys {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.toys img {
  border: 3px solid black;
  box-shadow: 5px 20px 20px 0 rgba(58, 58, 64, 0.416);
}

.bottom {
  display: flex;
  margin-top: 7%;
  padding-bottom: 7%;
}
.botleft {
  font-size: 20px;
  width: 50%;
  background-color: #ff9a85;
  border-radius: 9px;
  margin: 1%;
  padding: 4%;
}
.botleft h3 {
  font-size: 36px;
}
.botright {
  font-size: 20px;
  width: 50%;
  margin: 1%;
  padding: 3%;
}
.circle {
  height: 10rem;
  width: 20rem;
  margin: 0 15%;
  padding: 4%;
}
footer {
  text-align: center;
  padding: 3%;
  color: #495057;
}

/*********************************/
/* Funders Page */
/*********************************/

.infoDiv {
  background-color: red;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5.2rem;
  height: 100vh;
  font-size: 4.2rem;
}
