* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

.services,
.products,
.contact-us,
.sign-up,
.marketing,
.consulting,
.design {
  display: flex;
  height: 90px;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
